*{
    padding:0px;
    margin: 0px;
}

.test-bg{
    /* background-image: url('../images/4.webp'); */
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parent{
    width: 300px;
    height: 300px;
    background-color: #f00;
    margin: 50px;
    position: relative;
}
.child{
    width: 200px;
    height: 200px;
    background-color: green;
  position: absolute;
  top: 10px;
}

.fixed{
    width: 100px;
    height: 100px;
    background-color: blue;
    border-radius: 50%;
    position: fixed;
    right: 10px;
    top: 50%;
}
.sticky{
    width: 100%;
    height: 50px;
    background-color: yellow;
    position: sticky;
    top: 20px;
    
}



/* pseudo  element*/

.pseudo p::first-letter{
    color: red;
    font-size: 50px;
}

.pseudo p::first-line{
    color:green;
}

.pseudo p::after{
    content: "I am From After ";
}
.pseudo p::before{
    content: "I am From Before ";
}

.pseudo p::selection{
    color: yellow;
    background-color: red;
}


/* pseudo-class */

.pseudo-class p:first-child{
    color: red;
}

.pseudo-class p:last-child{
    color: red;
}

.pseudo-class p:nth-child(even){
    color: green;
}

.pseudo-class p:hover{
    color: red;
    padding: 2px;
    background-color: yellow;
}

.pseudo-class p:not(:nth-child(6)){
    background-color: yellowgreen;
}
